<div class="container mt-5">
  <div class="row justify-content-center gy-4">
    <div class="col-md-5">
      <div class="card">
        <!-- start card header section -->
        <div class="card-header text-center">
          <span>1</span>
          <span>در شماره</span>
        </div>
        <!-- start card header section -->
        <!-- start card body section -->
        <div class="card-body position-relative">
          <div class="doorButtons position-absolute">
            <button type="button" class="btn btn-success d-block mb-2">
              باز
            </button>
            <button type="button" class="btn btn-danger d-block">بسته</button>
          </div>
        </div>
        <!-- start card body section -->
        <!-- start card footer section -->
        <div class="card-footer position-relative bg-white border-0">
          <div class="timeShowerOpenDoor position-absolute d-inline">
            <div class="openDoorTime border-bottom border-black">18:00</div>
            <span>مدت زمان باز بودن در</span>
          </div>
          <div class="timeShowerWhenClose position-absolute d-inline">
            <div class="WhenCloseDoorTime border-bottom border-black">
              18:00
            </div>
            <span>بسته میشود تا</span>
          </div>
        </div>
        <!-- end card footer section -->
      </div>
    </div>
  </div>
</div>
